/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.0;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;

}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/*SITE CSS*/

html, body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 18px;
    font-weight: 400;
    box-sizing: border-box;
}

.canvas {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 375px;
  background: url("images/bg-header-mobile.png");
  background-repeat: no-repeat;
  background-position: top center;
  overflow: hidden;
  color: hsl(210, 10%, 33%);
}

header {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  margin: 6.5rem 0 0;
}

#logo_header {
  width: 125px; 
  height: 125px;
}

header h1 {
  font-weight: 600;
  font-size: 35px;
  text-align: center;
  margin: 3.5rem 0 1rem;
}

p {
  line-height: 1.8;
  text-align: center;
  color: hsl(201, 11%, 66%);
}

header p {
  margin: 0 0.8rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

button {
  text-decoration: none;
  border: none;
  padding: 1rem 0;
  width: 19rem;
  border-radius: 2rem;
  margin: 0.7rem 0;
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 18px;
  color: white;
}

button#ios {
  background: hsl(171, 66%, 44%);
  border-bottom: 0.2rem solid hsl(171, 66%, 34%);
  box-shadow: 0 5px 15px 2px hsl(171, 66%, 84%)
}

button#mac {
  background: hsl(233, 100%, 69%);
  border-bottom: 0.2rem solid hsl(233, 100%, 59%);
  box-shadow: 0 5px 15px 2px hsl(233, 100%, 89%);
}

button#ios:hover {
  background: hsl(171, 46%, 54%);
  border-bottom: 0.2rem solid hsl(171, 66%, 44%);
  transition: 0.2s ease;
}

button#mac:hover {
  background: hsl(233, 80%, 74%);
  border-bottom: 0.2rem solid hsl(233, 100%, 69%);
  transition: 0.2s ease;
}

main, #track, #access, #supercharge, #final, .container, .sub_container, .buttons, .supercharge_col, .top_footer {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
}

h2 {
  font-weight: 600;
  font-size: 30px;
  text-align: center;
  margin: 8rem 0 1.2rem;
  padding: 0 0.2rem
}

#computer {
  margin-top: 3rem;
}

h3 {
  font-weight: 600;
  font-size: 26px;
  text-align: center;
  margin: 3rem 0 0.8rem;
}

#supercharge h2 {
  margin: 5rem 0 1.2rem;
}

#supercharge h3 {
  margin: 1.5rem 0 0.8rem;
}

#devices {
 
  margin-top: 3rem;
}

.supercharge_icon {
  width: 50px;
  height: 40px;
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.supercharge_icon:first-child {
  margin-top: 4rem;
}

#sponsors {
  margin-top: 10rem;
}

.img_sponsor {
  width: 165px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:0;
}

.img_sponsor:not(:last-child){
  margin-bottom: 3rem;
}

.container p, #final p {
  padding: 0 0.8rem;
}

#final p {
  margin-bottom: 2rem;
  padding: 0 1rem;
}

#final {
  margin-bottom: 7rem;
}

footer {
  width: 100%;
  background: hsl(0, 0%, 96%);
}

.top_footer {
  width: 100%;
}

#logo_footer {
  width: 50px; 
  height: 50px;
  margin: 2.5rem 0;
}

#links {
  display: flex;
  flex-flow: column;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

#links li {
  margin: 0.4rem 0;
}

#links li a:link, #links li a:visited {
  text-decoration: none;
  color: black;
}

#links li a:hover {
  text-decoration: none;
  color: hsl(171, 66%, 44%);
  transition: 0.2s ease;
}

#social {
  margin: 2rem 0 3rem;
  width: 45%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.social_icon {
  width: 24px;
  height: 24px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.social_icon:hover {
  filter: invert(79%) sepia(12%) saturate(2758%) hue-rotate(132deg) brightness(96%) contrast(76%);
  transition: filter 0.25s ease;
}

.attribution { 
  font-size: 11px;
  text-align: center; 
  margin: 1rem 0;
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}

@media (min-width: 1440px) {
  .canvas {
  width: 1440px;
  background: url("images/bg-header-desktop.png");
  background-repeat: no-repeat;
  background-position: top center;
}
  
  header {
  width: 38rem;
}
  
    #track .container p, #access p, #final {
  width: 40rem;
}
  
  .buttons {  
  flex-flow: row;
  justify-content: center;
  width: 100%;  
}
  
  button {
  padding: 1rem 0;
  width: 14rem;
  border-radius: 2rem;
  margin: 0.7rem 0.5rem;
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 18px;
  color: white;
}
  
  #track .container .sub_container {
  flex-flow: row;
  justify-content: center;
  width: 100%;
  align-items: flex-start;
}
  
  #computer {
    object-position: -64px;
  }
  
  #text_track {
    width: 34rem;
    margin-top: 4rem;
    margin-left: 2.5rem;
    
  }
  
  #text_track p, #text_track h3 {
    text-align: left;
    padding: 0;
    width: 20rem;
  }
  
  #track .container .sub_container #text_track p {
    width: 22rem;
  }
  
  #supercharge .container .sub_container {
    flex-flow: row;
    align-items: flex-start;
  }
  
  #supercharge .container .sub_container .supercharge_col p {
    width: 22rem;
  }
  
  #sponsors, .top_footer {
  display: flex;  
  flex-flow: row;
  justify-content: space-around;
  width: 1240px;  
}

  .top_footer {
  margin-top: 1rem; 
}
  
  #logo_footer, #links, #social {
    margin: 0 0;
  }
  
  #logo_footer {
    flex: 0.5;
    max-width: 50px;
  }
  
  #links {
    flex: 1;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    height: 6rem;
    margin-top: 2rem;
    margin-left: 8rem;
  }
  
  #links li {
    min-height: 1.5rem;
    align-self: flex-start;
  }
  
  #social {
    flex: 0.5;
    justify-content: flex-end;
  }
  
  .social_icon {
    margin: 0 1rem;
  }
  
}